<table>
  <thead>
        <tr>
                <th style="font-weight: bold;font-style: normal">Student Result Board</th>
        </tr>
      <tr class="table">
          <th scope="col">Student Name</th>
          <th scope="col">Roll Number</th>
          <th scope="col">Total Marks</th>
          <th scope="col">Status</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of userData" style="cursor:pointer"  class="table" [ngClass]="{'fail' : item.status == 'Failed', 'pass': item.totalMarks == topper }">
          <td >{{item.name}}</td>
          <td >{{item.rollNumber}}</td>
          <td >{{item.totalMarks}}</td>
          <td >{{item.status}}</td>
  </tbody>
</table>